* {
  padding: 0;
  border: 0;
  margin: 0;
}
#page {
  background-color: rgb(28, 32, 73);
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: 100% 100%;
  overflow-y: auto;
}

.ban3d_1 {
  width: 30%;
  overflow: hidden;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  perspective-origin: 0% 50%;
  perspective: 1200px;
  transform-style: preserve-3d;
  transform-origin: left;
  backface-visibility: hidden;
  position: relative;
}
.ban3d_2 {
  width: 41%;
  height: 520px;
  margin-left: 30px;
  margin-right: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
.ban3d_3 {
  width: 30%;
  height: 500px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  perspective-origin: 0% 50%;
  perspective: 690px;
  transform-style: preserve-3d;
  transform-origin: left;
  backface-visibility: hidden;
  position: relative;
  /* left: 424px; */
}
.a_1 {
  /* width: 100%; */
  height: 420px;
  background: gray;
  /* transform: rotateX(0deg) rotateZ(0deg) rotateY(-816deg); */
  /* margin-top: 160px; */
  /* perspective: 600px; */
  transform: rotateY(-60deg);
  position: absolute;
  left: -90px;
}

.a_center {
  width: 100%;
  height: 520px;
  position: absolute;
}

.a_2 {
  width: 100%;
  height: 420px;
  background: gray;
  /* transform: rotateX(0deg) rotateZ(0deg) rotateY(-816deg); */
  /* margin-top: 160px; */
  /* perspective: 600px; */
  transform: rotateY(30deg);
  position: absolute;
  left: -15px;
}

#bgban {
  display: flex;
  width: 98%;
  position: relative;
  margin-left: 1%;
  margin-top: 50px;
}
.head {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.headleft {
  color: #fff;
  width: 130px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headmidden {
  color: #fff;
  /* width: 750px; */
  height: 100px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.headmidden span {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 18px;
  margin-left: 25px;
}

.headright {
  width: 360px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-style: oblique;
  position: relative;
}

.headright_s1 {
  font-size: 36px;
  margin-bottom: 5px;
  font-weight: bolder;
  letter-spacing: 6px;
  position: relative;
}

.headright_s2 {
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: 4px;
}

.headright_s3 {
  letter-spacing: 4px;
}

[v-cloak] {
  display: none;
}

.headright img {
  position: absolute;
  width: 80px;
  bottom: 0px;
  right: 10px;
}

.bottom {
  width: 92%;
  height: 220px;
  display: flex;
  margin-left: 4%;
  margin-top: 30px;
  position: absolute;
  bottom: 20px;
}

.bottom_left {
  width: 48%;
  margin-right: 4%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom_left p {
  padding: 2%;
  font-style: oblique;
  font-size: 18px;
  letter-spacing: 4px;
  color: #fff;
}
.jilu {
  width: 100%;
  height: 80%;
  background: rgb(17, 24, 76);
  display: flex;
}

.jilu_detail {
  width: 16.7%;
  box-sizing: border-box;
  padding: 2%;
  height: 100%;
}

.jiludetail_head {
  width: 63%;
  height: 45%;
  margin: 0 auto;
  background-size: 100% 100%;
  background-position: center;
  background-image: #fff;
}

.juludetail_bottom {
  color: #fff;
  font-size: 12px;
  font-style: oblique;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
  justify-content: space-around;
  text-align: center;
}

.juludetail_bottom span {
  letter-spacing: 2px;
}

.danger,
.teach,
.jiazhang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  width: 120px;
  height: 260px;
  /* display: none; */
}
.danger {
  background: rgb(228, 83, 47);
  width: 120px;
  height: 260px;
}
.teach {
  background: #6169b7;
  width: 120px;
  height: 260px;
}
.jiazhang {
  background: #79c3ac;
  width: 120px;
  height: 260px;
}

.tips {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999999;
}

.tipsheadimg {
  border-radius: 50%;
  background-color: #fff;
  background-size: 100% 100%;
  background-position: center;
  width: 100px;
  height: 100px;
}

.tipscontent {
  width: 100px;
  height: 60px;
  color: #fff;
  font-size: 12px;
  font-style: oblique;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 2px;
  margin-top: 30px;
}

.vxg_media_player1 {
  width: 100%;
  height: 242px;
}
