/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #7038ff;
  --vp-c-brand-light: #6c34f9;
  --vp-c-brand-lighter: #b091ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #501cd3;
  --vp-c-brand-darker: #351489;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}
